@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: rgb(223, 46, 46);
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .btn-primary {
    @apply bg-[rgb(223,46,46)] hover:bg-[rgb(193,26,26)] text-white;
  }
  .input-field {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[rgb(223,46,46)] focus:ring-[rgb(223,46,46)];
  }
} 